<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Título</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-3">
                <aside>
                    <div th:replace="pages/common/sidebar :: sidebar"></div>
                </aside>
            </div>

            <div class="col-9">
                <header class="row">
                    <div th:replace="pages/common/header :: header">
                        <p th:text="#{template.title}"></p>
                    </div>
                </header>


                <div class="row">

                    <div class="col-7 mt-5">
                        <form th:action="@{/create/saveSymptom}" method="post" th:object="${symptom}" id="symptomForm">
                            <input type="hidden" name="idSymptom" th:field="*{idSymptom}" />

                            <div class="form-floating mb-3">
                                <input class="form-control" type="text" name="symptomName" th:field="*{symptomName}" />
                                <label for="symptomName" th:text="#{template.name}"></label>
                            </div>

                            <div class="form-floating mb-3">
                                <textarea class="form-control" type="text" name="symptonCare" th:field="*{cares}"></textarea>
                                <label for="symptonCare" th:text="#{symptom.cares}"></label>
                            </div>

                            <div class="form-floating mb-3">
                                <textarea class="form-control" type="text" name="symptonCons" th:field="*{considerations}"></textarea>
                                <label for="symptonCons" th:text="#{symptom.considerations}"></label>
                            </div>


                            <button type="submit" class="btn btn-primary" th:text="#{template.save}"></button>

                        </form>
                    </div>

                    <div class="col-5 mt-5">
                        <p th:text="#{symptom.noteHeader}"></p>
                        <p th:text="#{symptom.noteBody}"></p>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <script src="https://kit.fontawesome.com/4fb56b437e.js" crossorigin="anonymous"></script>
    <script th:src="@{/js/bootstrap/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/functions.js}"></script>
</body>

</html>