<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Título</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body>

  <div class="container">
    <div class="row">
      <div class="col-3">
        <aside>
          <div th:replace="pages/common/sidebar :: sidebar"></div>
        </aside>
      </div>

      <div class="col-9">
        <header class="row">
          <div th:replace="pages/common/header :: header">
            <p th:text="#{template.title}"></p>
          </div>
        </header>

        <div class="col-12 mt-5">

          <form th:action="@{/create/saveStage}" method="post" th:object="${stage}">

            <div class="row">
              <div class="col-6">

                <div class="form-floating mb-3">
                  <input class="form-control" type="text" name="stageDesc" th:field="*{stageIdentifier}" />
                  <label for="stageDesc">Nombre</label>
                </div>

                <div class="form-floating mb-3">
                  <textarea class="form-control" type="text" name="stageDesc" th:field="*{stageDesc}" />
                  <label for="stageDesc">Descripcion</label>
                </div>

                <div class="form-floating mb-3">
                  <input class="form-control" type="text" name="stageDuration" th:field="*{duration}" />
                  <label for="stageDuration">Duracion total en dias</label>
                </div>

              </div>

              <div class="col-6">

                <div class="card">
                  <div class="card-body">
                    <!-- Acá va el menu desplegable que tiene los sintomas -->
                    <div class="form-floating mb-3">
                      <select id="symptomName" name="symptomName" required class="form-select" th:field="*{symptomName}">
                        <option value="">Selecciona un síntoma...</option>
                        <option th:each="symptom : ${symptoms}" th:value="${symptom.idSymptom}" th:text="${symptom.symptomName}"></option>
                      </select>
                      <label for="symptomName" class="form-label">Sintoma</label>
                    </div>


                    <div class="form-floating mb-3">
                      <input type="text" class="form-control" id="caresInput" name="cares" th:field="*{symptomCare}" />
                      <label for="cares" class="form-label">Cuidados:</label>
                    </div>

                    <div class="form-floating mb-3">
                      <input type="text" class="form-control" id="considerationsInput" name="considerations" th:field="*{symptomConsideration}" />
                      <label for="considerations" class="form-label">Consideraciones:</label>
                    </div>

                  </div>
                </div>
              </div>
            </div>

            <button type="submit" class="btn btn-primary" th:text="#{template.save}"></button>

          </form>


        </div>

      </div>


    </div>
  </div>

  <script>
    // Obtener el valor del span
    var valorDelSpan = document.getElementById('cares').innerText;

    // Asignar el valor al input
    document.getElementById('caresInput').value = valorDelSpan;
  </script>

  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="https://kit.fontawesome.com/4fb56b437e.js" crossorigin="anonymous"></script>
  <script th:src="@{/js/bootstrap/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/js/functions.js}"></script>
</body>

</html>