<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datos del Síntoma</title>
    <script th:src="@{/functions.js}"></script>
</head>
<body>

<h1>Síntoma</h1>
<a th:href="@{/}">Regresar</a>
<br/>
<br/>

<form th:action="@{/create/saveSymptom}" method="post" th:object="${symptom}" id="symptomForm">

    <input type="hidden" name="idSymptom" th:field="*{idSymptom}"/>

    <label for="symptomName">Nombre</label>
    <input type="text" name="symptomName" th:field="*{symptomName}"/>
    <br/>

    <label for="cares">Cuidados</label>
    <button type="button" id="caresBtn">+</button>
    <div id="caresContainer">
        <div th:each="care, iterStat : *{cares}">
            <input type="text" th:field="*{cares[__${iterStat.index}__]}"/>
            <button type="button" onclick="eliminarCampo(this)">-</button>
            <br/>
        </div>
    </div>

    <label for="considerations">Consideraciones</label>
    <button type="button" id="considerationsBtn">+</button>
    <div id="considerationsContainer">
        <div th:each="consideration, iterStat : *{considerations}">
            <input type="text" th:field="*{considerations[__${iterStat.index}__]}"/>
            <button type="button" onclick="eliminarCampo(this)">-</button>
            <br/>
        </div>
    </div>

    <input type="submit" name="save" value="Guardar"/>

</form>

<br/>

<form th:action="@{/index}" method="get">
    <button type="submit">Volver a inicio</button>
</form>

</body>
</html>
