<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina principal</title>
    <script th:src="@{/code.js}"></script>
</head>
<body>

<h1>Test formulario</h1>
<h2>Probando los divs dinámicos</h2>
<a th:href="@{/}">Regresar</a>
<br/>
<br/>

<form action="/" method="POST">

    <div id="container">
        <div>
            <div>
                <span>Nombre</span>
                <input type="text" name="nombre" />
            </div>

            <div>
                <span>Apellido</span>
                <input type="text" name="apellido" />
            </div>
        </div>
    </div>

    <input type="button" value="+" id="agregar"/>

    <input type="submit" value="Cargar usuario" />

</form>




</body>
</html>