<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mostrar Enfermedades</title>
</head>
<body>

<h2>Listado de Enfermedades</h2>
<br>

<h3>Iterando todas las enfermedades</h3>

<table border="1">
  
  <thead>
  <tr>
    <th>ID</th>
    <th>Código</th>
    <th>Nombre</th>
    <th>Tipo notificación</th>
    <th>Tipo enfermedad</th>
    <th>Duración</th>
    <th>Detalles</th>
    <th>Editar</th>
    <th>Eliminar</th>
  
  </tr>

  </thead>
  <tbody>
  <tr th:each="enfermedad : ${enfermedades}">
    <td th:text="${enfermedad.idEnf}"></td>
    <td th:text="${enfermedad.codigoEnf}"></td>
    <td th:text="${enfermedad.nombreEnfermedad}"></td>
    <td th:text="${enfermedad.clasificacionEnfermedad}"></td>
    <td th:text="${enfermedad.tipoEnfermedad}"></td>
    <td th:text="${enfermedad.duracionEnfermedad}"></td>
    <td>LINK PARA VER ETAPAS - DIAGNOSTICO</td>
    <td><a th:href="@{/editar/} + ${enfermedad.idEnf}" th:text="Editar"/></td>
    <td><a th:href="@{/eliminar/} + ${enfermedad.idEnf}" th:text="Eliminar"/></td>
  </tbody>
</table>

<br>
<br>

<form th:action="@{/index}" method="get">
    <button type="submit">Volver a inicio</button>
</form>

</body>
</html>