<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mostrar sintomas</title>
</head>
<body>

<h2>Listado de sintomas</h2>
<br>

<h3>Iterando todos los sintomas</h3>

<table border="1">
  
  <thead>
  <tr>
    <th>ID</th>
    <th>Sintoma</th>
    <th>Cuidados</th>
    <th>Consideraciones</th>
    <th>Obligatoriedad</th>
    <th>ID Etapa - Enf</th>
  </tr>

  </thead>
  <tbody>
  <tr th:each="symptom : ${sintomas}">
    <td th:text="${symptom.idSin}"></td>
    <td th:text="${symptom.symptom}"></td>
    <td th:text="${symptom.cuidados}"></td>
    <td th:text="${symptom.consideraciones}"></td>
    <td th:text="${symptom.obligatoriedad}"></td>
    <td th:text="${symptom.etapa}!=null? ${symptom.etapa.idEtapa}"></td>
  </tbody>
</table>

<br>
<br>

<form th:action="@{/index}" method="get">
    <button type="submit">Volver a inicio</button>
</form>

</body>
</html>