<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mostrar Etapas</title>
</head>
<body>

    <table border="1">

        <thead>
        <tr>
          <th>ID</th>
          <th>Identificador - EtapaID</th>
          <th>Descripcion</th>
          <th>Duracion</th>
          <th>Nombre identificador</th>
          <th>ENFERMEDAD - Nombre</th>
          <th>ENFERMEDAD - ID</th>
        </tr>

        </thead>
        <tbody>
        <tr th:each="etapa : ${etapas}">
          <td th:text="${etapa.idEtapa}"></td>
          <td th:text="${etapa.nombreEtapa}"></td>
          <td th:text="${etapa.descripcionEtapa}"></td>
          <td th:text="${etapa.duracionEtapa}"></td>
          <td th:text="${etapa.nombreIdentificador}"></td>
          <!--<td th:text="${etapa.enfermedad.nombreEnfermedad}"></td>
          <td th:text="${etapa.enfermedad.idEnf}"></td>-->
        </tbody>
    </table>

    <br>
    <br>

    <form th:action="@{/index}" method="get">
        <button type="submit">Volver a inicio</button>
    </form>
</body>
</html>